body{
    background-color: rgb(112, 181, 246);  
    text-align: center;
    height: 3000px;
    font-family: 'Indie Flower', cursive;
}

h2{
    font-size: 38px;
    color: rgb(39, 179, 104);
    text-shadow: springgreen;
    background-color: rgb(75, 67, 78);
    margin-left: 60px;
    margin-right: 60px;
    border: 1px solid black;
    border-radius: 5px;
}
table{
    width:100%;
    font-size: 25px;
    background-color: rgb(137, 197, 78);
    margin-top: 80px;  
}
td, th {
    border: 1px solid #0a0808;
    text-align: center;
    padding: 15px;  
  }
  td,th :hover{
 background-color: rgb(44, 180, 128);
 border-radius: 5px;
 font-size: 35px;
 

  }

a{
    text-decoration:none;
}


p{
    outline-style: double;
    outline-color: rgb(96, 141, 7);
    font-size: 20px;
    background-color: rgba(96, 250, 69, 0.65);
    margin-top: 50px;
}
div{
    background-color: rgb(144, 127, 127);
    width: 500px;
    height: 113px;
    margin-top: 60px;
    margin-left: 350px;
    
    }
li{
    border: 2px solid black;
    padding-left: 124px;
}
ul{
    border: 2px solid black;
    padding-left: 120px;
}

img{
    margin-top: 40px;
    width: 600px;
    height: 400px;
}
