body{
    background-color: azure;
    margin: 0;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(118, 134, 117, 0.726);
    font-size: 20px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif ;

  }
  li {
    float: left;
    border-right:1px solid rgb(255, 255, 255);
  }
  li a, .dropbtn {
    display: inline-block;
    color: rgb(7, 6, 6);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(112, 116, 113, 0.808);
  }
  li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #535753;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {
    display: block;
  } 
  li:last-child {
  border-right: none;
}
h1{
    font-size: 75px;
    text-align: center;
    margin-top: 80px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif ;
    color: rgb(19, 107, 158);
    border: 3px solid black;
    margin-top: 160px;
 }
 input[type=text], select {
    width:100%;
    padding: 7px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 70%;
    background-color: rgb(241, 68, 53);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  div {
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 20px;
  }
  button{
      margin-left: 599px;
 font-size: 20px;
  }