html{
    box-sizing: border-box;
}
body{
    font-size: 2vw;
    background-color: rgba(184, 184, 184, 0.178);
    width: 100%;
}
#h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 100px;
    background-color: rgba(19, 133, 118, 0.377);
    border-radius: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: inherit;
}
#nav{
    margin: auto;
    background-color: rgb(101, 144, 212);
    border-radius: 9px;
    max-width: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.butoane{
    margin-bottom: 5px;
    margin-left: 25px;
    border-radius: 50px;
    color: green;
    background-color: rgba(170, 216, 101, 0.596);
    padding-left: 50px;
    
}
.lista{
    margin-top: 60px;
    float:left;
    width:15%;
    text-align:center;
    font-family: 'Assistant', sans-serif;
    background-color: rgba(126, 252, 0, 0.575);
}
.text{
    background-color: lightcoral;
    font-family: 'Assistant', sans-serif;
    float:left;
    width:60%;
    padding:20px;
    margin-top: 60px;
    margin-left: 5px;
    text-align: center;
}
.text2{
    background-color:#955f5f;
    float: right;
    width:19%;
    padding:15px;
    margin-top:60px;
    text-align:center;
    font-family: 'Assistant', sans-serif;
}
.relative{
width: 200px;
height: 300px;
margin-top: 400px;
margin-left: 1060px;
border: 2px solid salmon;
position: relative;
}
.absolute{
    width: 100px;
    height: 200px;
    border:2px solid green;
    margin-top: 20px;
    margin-left: 60px;
}
.arrow{
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 50px; 
    color: red;
}
.lung{
    background: rgb(134, 143, 135);
    color: rgb(12, 216, 120);
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
    width: 90%;
    height: 100px;
    overflow: auto;
    border: 1px solid #ccc;
  }
}
