body{
    background-color: rgba(204, 216, 134, 0.459);
}
h1{
    font-size: 60px;
    font-family: 'Crafty Girls',Arial, Helvetica, sans-serif;
    color: rgb(255, 115, 0);
    text-align: center;
    margin-top: 100px;
    border: 1px solid rgba(3, 138, 109, 0.767);
    border-radius: 4px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(238, 166, 108, 0.548);
    transition: 0.5s;
}
.formular{
    font-family:'Chelsea Market',Arial, Helvetica, sans-serif;
    margin: auto;
    width: 40%;
    border: 2px solid rgba(219, 221, 120, 0.308);
    border-radius: 4px;
    padding: 15px;
    margin-top: 100px;
    background-color: rgba(99, 102, 62, 0.438);
    text-align: center;
    line-height: 30px;
    transition: 0.4s;
}
h1:hover{
    color: rgb(255, 30, 0);
    font-size: 100px;
    background-color: rgba(16, 134, 109, 0.452);
}
.formular:hover{
    background-color: rgba(68, 54, 59, 0.143);
    color: rgb(211, 77, 0);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
.p{
    font-family:'Chelsea Market',Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    transition: .9s;
}
.p:hover{
    color: red;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 100px;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 80px;
  opacity: 1.0;
  transition: 0.7s;
}
img:hover{
    opacity: 0.7;
    padding-top: 70px;
}
#demo{
    text-align: center;
    font-family:'Chelsea Market',Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#demo:hover{
    color:red
}
button{
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}